# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

# Virtual environments
venv/
.env/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# App folders
uploads/
audio/
transcripts/
chroma_db/
